# GitHub Code Owners
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# All files in the repository are owned by nikoteressi
* @nikoteressi
